@model IEnumerable<JobsityChallenge.Chat.Entities.ChatroomEntity>

@{
    ViewData["Title"] = "Chatrooms";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Chatroom</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>            
                <td>
                    <a class="btn btn-secondary" asp-action="Room" asp-route-id="@item.Id">Enter</a>             
                </td>
            </tr>
        }
    </tbody>
</table>
